<!-- session_config.html -->
<!-- <link rel="stylesheet" href="../css/players.css"> -->

<div ng-controller="instanceAutoPController" ng-init="init()">
    <h1>AUTO</h1>

    <h4>words</h4>
    <button ng-click='auto("words", 25, "id_red")'>WORDS, 25, RED STARTS</button>

    <h4>images</h4>
    <button ng-click='auto("words", 25, "id_red")'>IMAGES, 25, RED STARTS</button>

    <!-- <h4>mixed</h4>
    <button ng-click='auto("words", "id_red")'>TELLER, RED</button> -->


    <h1>GAME CONFIG</h1>




</div>
