<!-- active.html -->
<!-- <link rel="stylesheet" href="../css/game.css"> -->

<div ng-controller="gameController" ng-init="init()">
    <h1>GAME</h1>

    <div>{{ gameRoomClientServiceData.gameState.c_string }}

    <p>{{ gameRoomClientServiceData.gameState.activePlayer.name }}, please type something.</p>

    <div scope-element="wordInputFormGroup" class="form-group" hidden="true">
      <input scope-element="wordInput" class="mx-auto" type="text" ng-model="input_word">
      <button ng-click="submit_word()">OK</button>
    </div>

</div>
